
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

body,
header,
footer {
    width: 100%;
    background-color: rgb(218, 218, 218);
}

main {
    background-color: rgb(233, 233, 233);
}

a {
    text-decoration-line: none;
    color: black;
}

h2 {
    font-family: 'Baloo Bhaina 2', cursive;
    text-transform: uppercase;
}

h3 {
    padding-bottom: 0.7em;
}

footer {
    padding-top: 4em;
    overflow: auto;
}


/* Header class stylings */

.name {
    padding: 1em;
}

.main-nav ul {
    width: 90%;
    margin: auto;
}

nav li {
    list-style-type: none;
    background-color: rgb(240, 240, 240);
    padding: 10px 0;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    text-decoration-line: none;
    font-weight: bold;
    color: black;
}

nav li a:visited,
.info a:hover {
    color: rgb(0, 39, 75);
}

nav li a:hover,
.info a:hover {
    color: rgb(1, 194, 253);
}

.profile-image {
    width: 65%;
    padding: 2em;
}

.introduction {
    padding: 0 1em 2em 1em;
}


/* Main stylings */

#portfolio {
    padding-top: 1em;
}

.card {
    padding: 1em;
    margin-bottom: 1em;
}

.card p {
    padding: 0 1.5em;
}

img {
    width: 100%;
    margin-bottom: 2em;
}

#skills-header {
    padding-top: 1em;
}

.skills {
    padding-bottom: 4em;
}

.icon-div {
    margin: 2em 0;
    margin-top: 0;
}

.icons {
    width: 70px;
}

.css-logo {
    margin-left: 25px;
}


/* Footer stylings */

#contact {
    margin-bottom: 1em;
}

.info {
    margin-bottom: 1em;
}

.float-left {
    float: left;
    clear: both;
    margin-bottom: 1em;
}

.float-right {
    float: right;
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

.gap {
    margin-left: 10px;
}

.cap {
    text-transform: uppercase;
}

hr {
    clear: both;
    background: rgb(99, 99, 99);
    width: 90%;
    height: 1px;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 1em; 
}

.bottom-nav {
    width: 90%;
    margin: auto;
}

.footer-nav {
    display: none;
}

@media screen and (min-width: 768px){
    
    /* Header styling */

    header {
        overflow: auto;
    }

    .main-nav ul li {
        display: inline-block;
        margin-right: 25px;
        margin-left: 25px;
        background: none;
    }

    .profile-image {
        float: right;
        width: 30%;
    }

    p.introduction {
        padding-top: 32px;
        font-size: 1.2em;
        text-align: left;
    }

    /* Main styling */

    #portfolio {
        clear: both;
        padding-bottom: 1em;
    }

    .card {
        float: left;
        font-size: 19px;
        width: calc(50% - 16px);
        padding: 8px;
    }

    #skills-header {
        margin-top:0;
        clear: both;
        margin-bottom: 1em;
    }

    .skills {
        float: none;
        width: 90%;
        clear: both;
        margin: 0 auto;
        padding-bottom: 3em;
    }

    /* Footer styling */

    footer >.card {
        float: none;
        margin: auto;
        margin-bottom: 1em;
        display: block;
        width: 80%;
        font-size: 20px;
    }

    .contact-info {
        font-size: 20px;
    }

    #btt {
        display: none;
    }

    .footer-name {
        padding: 10px 10px 10px 0;
        margin-bottom: 0;
    }

    .footer-nav {
        display: block;
        float: right;
    }

    .footer-nav ul li{
        display: inline-block;
        background: none;
        padding: 10px 0 10px 10px;
        margin-bottom: 4em;
    }
}

@media screen and (min-width: 1024px){
    body {
        max-width: 90em;
        margin:auto;
    }
    
    .hero-banner {
        margin: 0 5em;
    }

    .name {
        float: left;
    }

    .main-nav {
        float: right;
        padding: 32px;
    }

    .main-nav ul{
        width: 100%;
        margin: auto;
    }

    .clear {
        clear: both;
        font-size: 1.5em;
        text-align: left;
    }

    p.introduction {
        padding-top: 48px;
    } 

    #portfolio {
        padding-top: 3em;
    }

    main {
        width: 90%;
        margin: 0 auto;
    }

    .card {
        width: calc(33.3% - 20px);
        padding-left: 10px;
        padding-right: 10px;
    }

    .min-height {
        min-height: 112px;
    }

    .skills {
        width: 50%;
        padding-bottom: 5em;
    }

    footer p .card {
        width: 50%;
    }

    .interest {
        font-size: 26px;
    }

    .contact-info {
        font-size: 30px;
    }

    .bottom-nav {
        width: 90%;
        margin: 0 auto;
    }
}